body {
  margin-top: 40px;
  background-color: rgb(66, 63, 63);
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc_wrapper {
  background-color: rgb(14, 11, 11);
  width: 400px;
  border-radius: 16px;
}

.button_row {
  display: flex;
}
